{% macro render_pagination(pagination, endpoint) %}
    <div class="pager">
        {%- for page in pagination.iter_pages(left_edge=1, left_current=2, right_current=3, right_edge=1) %}
            {% if page %}
                {% if page != pagination.page %}
                    <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
                {% else %}
                    <span class="current">{{ page }}</span>
                {% endif %}
            {% else %}
              <span>...</span>
            {% endif %}
        {%- endfor %}
    </div>
{% endmacro %}